<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riders</title>
</head>
<body>
    <% @rider.each do |r| %>
        <h1> <%= r.name %> </h1>
    <% end %>
</body>
</html>