<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rider Page</title>
</head>
<body>
    <h1><%= @rider.name %></h1>
    <% if @rider.has_membership == true %>
    <%= "thanks for being a member" %>
    <% end %>

    <form action="/riders/<%= @rider.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete this rider">
    </form>

</body>
</html>