<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike <%= @bike.id %></title>
</head>
<body>
    <h1>Bike id: <%= @bike.id %></h1>
    <h1>Color: <%= @bike.color %></h1>
    <h1>Miles: <%= @bike.miles %></h1>

</body>
</html>